body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #ffff;
    background-color: #55cae7c6;
    margin: 0;
    padding: 0;
}
.header--container{
    display: grid;
    grid-template-columns: 3fr 2fr;
    border-bottom: dotted;

}
.header--nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* background-color: black; */
  padding: 1rem;
}

.header--logo {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffff;
    text-shadow:2px 2px 4px rgba(0, 21, 255, 1); ;
}   
.header--nav a {
  text-decoration: none;
  color: #ffff;
}

.header--nav a:hover {
  color: #ffff;
  text-decoration: underline;
}

.body--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.body--form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.body--gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
        color: #ffff;
        
        font-weight: bold;
        text-shadow:2px 2px 4px rgba(0, 21, 255, 1); ;
    }
     p:first-of-type{
            font-size: 1.5rem;   
        }
    
}

.gallery--img img {
    max-width: 100%;
    height: auto;
}

.form--butn--submit, .form--butn--reset {
    margin-top: 10px;
}


.footer--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-top: dotted;
}